<!doctype html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="StoreController as store">

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products| orderBy:'price'">
        <h3>{{product.name}}
          <em class="pull-right">{{product.price| currency}}</em>
          <img ng-src="{{product.images[0].thumb}}">
        </h3>
        <section ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{active: panel.isSelected(1)}">
              <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{active: panel.isSelected(2)}">
              <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class="{active: panel.isSelected(3)}">
              <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>
          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specifications</h4>
            <p>None yet</p>
          </div>


          <div class="panel" ng-show="panel.isSelected(3)">

            <h4>Reviews</h4>          
            <blockquote ng-repeat="review in product.reviews">
              <b>Stars: {{review.stars}}</b>
              {{review.body}}
              <p><cite>--{{review.author}} on {{review.createdOn| date}}</cite>
            </blockquote>

            <form name="reviewForm" 
                  ng-controller="ReviewController as reviewCtrl" 
                  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <h4>Submit Form</h4>
              <!-- Live preview -->                   
              <fieldset class="form-group">
                <blockquote>
                  <b>Stars: {{reviewCtrl.review.stars}}</b>
                  {{reviewCtrl.review.body}}
                  <p><cite>--{{reviewCtrl.review.author}}</cite>
                </blockquote> 
              </fieldset>
              <!-- 
              -->
              <fieldset class="form-group">
                <label for="reviewStars">Stars</label>
                <select class="form-control" ng-model="reviewCtrl.review.stars" id="reviewStars" required>
                  <option value="">Rate the Product</option>
                  <option value="1">1 Star</option>
                  <option value="2">2 Stars</option>
                  <option value="3">3 Stars</option>
                  <option value="4">4 Stars</option>
                  <option value="5">5 Stars</option>
                </select>            
              </fieldset>

              <fieldset class="form-group">
                <label for="reviewComment">Comment</label>
                <textarea class="form-control" ng-model="reviewCtrl.review.body" id="reviewComment" required></textarea><p>
              </fieldset>

              <fieldset class="form-group">
                <input name="author" class="form-control" type="email" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email" required />
              </fieldset>

              <fieldset class="form-group">
                <div>reviewForm is {{reviewForm.$valid}}</div>
                <input type="submit" class="btn btn-primary pull-right"  value="Submit Review" />
              </fieldset>           

            </form>
          </div>

        </section>
      </li>  
    </ul>


    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='angular.app.js'></script>
  </body>
</html>